@{
    ViewData["Title"] = "SetNewPassword";
    Layout = "_LoginViewTemplate";
    string errorMessage = TempData["ErrorMsg"] as string; 
}

<div class="matchParent">
    <h1 style="text-align: center">Account Recovery</h1>
    <form asp-controller="LoginCustomer" asp-action="ChangePasswordAfterVerificationCodeAuthentication" method="post" class="matchParent"> 
        <!--The fieldset tag will copy from the <form> tag-->
        <fieldset class="flexBoxVertical matchParent"> 
            <!--This flexbox is used to contain the 'Enter your 4-digit OTP...' message-->
            <div class="flexBoxHorizonal matchParentWidthOnly align-left-row"> 
                <div class="main flexBoxHorizontal gravity matchParentHeightOnly">
                    <div class="main-internal-1 flexBoxVertical matchParentHeightOnly align-left-row">
                        <!--We will be inserting two fields-->
                        <label>New password: </label>
                        <input name="NewPassword" type="password" placeholder="Please enter a new password" /> 
                    </div> 
                </div> 
            </div> 
            <br /> 
            <div class="flexBoxHorizonal matchParentWidthOnly align-left-row"> 
                <div class="main flexBoxHorizontal gravity matchParentHeightOnly">
                    <div class="main-internal-1 flexBoxVertical matchParentHeightOnly align-left-row">
                        <label>Confirm password: </label>
                        <input name="ConfirmNewPassword" type="password" placeholder="Please enter the same password again" /> 
                    </div> 
                </div> 
            </div> 
            <br /> 
            <br /> 
            <div class="logInButtonContainer flexBoxHorizontal matchParentWidthOnly gravity"> 
                <!--This button will log the user in when the user clicks on this button-->
                <div class="whitespace matchParentHeightOnly" style="flex: 0.35"></div>
                    <button type="submit" class="signIn flexBoxHorizontal matchParentHeightOnly gravity cursor roundedEdgesLight" style="flex: 2">Sign In</button>
                <div class="whitespace matchParentHeightOnly" style="flex: 0.5"></div>
            </div>
        </fieldset> 
    </form> 
</div> 