@{
	Layout = "_Layout"; 
}

<!--
    Done by: Li Zhe Yun
    Partial View

    Used by: 
        1) Profile.cshtml
        2) ResetPassword.cshtml 
        3) Change.cshtml
-->

<!--Within the <main> tag-->
<!--This partial view is just one simple box LOL-->

<div class="flexBoxHorizontal roundedEdgesLight borderVisibleLight gravity matchParentWidthOnly"> 
    @RenderBody()
</div>
