@{
    ViewData["Title"] = "Deleted";
    Layout = "_CustomerFeedbackViewTemplate";
}

<!--
    Done by: Li Zhe Yun 
-->

<div class="main-feedback-body">
    <h1><b>Pending</b></h1>
    <span class="text-danger" style="text-align: center">There is nothing to display here as of now...</span>
</div> 

