@using Microsoft.AspNetCore.Http; 

@{
    ViewData["Title"] = "LoginVerificationOldNewPassword";
    Layout = "_CustomerProfile"; 
    string resetFail = TempData["ResetError"] as string; 
    string emailAddress = Context.Session.GetString("Email"); 
}

@model Customer  //Just use the customer model LOL 

<div class="matchParent flexBoxVertical gravity"> 
    <h1 style="text-align: center">Change Password</h1>
    <form asp-controller="LoginCustomer" asp-action="VerifyEmailAndSetPassword" method="post">
        <!--This field is used by the user to input his or her recovery email-->
        <div class="form-group row">
            <label asp-for="MEmailAddr" class="col-md-5">Email Address: </label>
            <input asp-for="MEmailAddr" name="EmailAddress" type="email" value="@emailAddress" readonly title="This field cannot be changed right now" class="col-md-5 form-control"/>
        </div> 
        <br />
        <!--This field is used by the user input his or her old password-->
        <div class="form-group row">
            <label asp-for="Password" class="col-md-5">Old Password: </label>
            <input asp-for="Password" name="AccountOldPassword" type="password" placeholder="Enter your existing password" class="col-md-5 form-control" />
        </div> 
        <br /> 
        <div class="form-group row">
            <label asp-for="Password" class="col-md-5">New Password: </label>
            <input asp-for="Password" name="AccountNewPassword" type="password" placeholder="Enter your new password" class="col-md-5 form-control"/>
        </div> 
        <br />
        <div class="form-group row">
            <label asp-for="Password" class="col-md-5">Confirm Password: </label>
            <input asp-for="Password" name="ConfirmNewPassword" type="password" placeholder="Enter your new password again here" class="col-md-5 form-control"/>
        </div>
        <!--Display the error message over here-->
        <!--Set the background color of the <div> tag to red color, the text color within the <span> tag must be set to white color-->
        <div class="matchParentWidthOnly flexBoxHorizontal gravity">
            @resetFail
        </div>
        <br /> 
        <button type="submit" class="btn btn-primary">Submit!</button>
    </form> 
    <br /><br />
</div> 